<div class="main <%- loc %>">
    <form action="">
        <input type="text" name="username">
        <input type="password" name="password">

        <button type="submit"><%- language.submit %></button>
    </form>
</div>
