.header {
  background: #2e2a39;
  position: relative;
  z-index: 2;
  .warp-header {
    align-items: center;
    text-align: center;
    line-height: 64px;
    font-size: 16px;
    display: flex;
    color: #fff;
    width: 100%;
  }
  .logo {
    margin-right: 20px;
    flex: 0 0 30px;
  }
  .title {
    font-size: 20px;
  }
  .nav {
    flex: 1 1 auto;
    ul {
      justify-content: flex-end;
      display: flex;
      li {
        flex: 0 0 130px;
      }
    }
  }
  .language {
    position: relative;
    cursor: pointer;
    flex: 0 0 130px;
    .toggle {
      background: #2e2a39;
      position: relative;
      z-index: 2;
    }
  }
  .user {
    background-color: #ffca28;
    flex: 0 0 130px;
    color: #262626;
    display: flex;
    a {
      height: 100%;
      width: 100%;
    }
  }
}

.change-language {
  &.open {
    transform: translateY(0) rotateX(0);
  }
  transform: translateY(-100%) rotateX(90deg);
  background-color: #f6f6f6;
  transition: all .5s ease;
  text-align: center;
  line-height: 64px;
  overflow: hidden;
  font-size: 16px;
  position: fixed;
  color: #262626;
  z-index: 0;
  .language-item {
    transition: all .5s ease;
    &:hover {
      background-color: #ffca28;
      color: #262626;
    }
  }
}

@media only screen and (max-width: 895px) {
  .header {
    .warp-header {
      line-height: 3rem;
      font-size: 1rem;
      height: 100%;
    }
    .logo {
      margin-right: .5rem;
      flex: 0 0 1.5rem;
    }
    .title {
      display: none;
    }
    .nav {
      flex: 1 1 auto;
      ul {
        li {
          padding: 0 .5rem;
          flex: 0 0 auto;
        }
      }
    }
    .language {
      flex: 0 0 auto;
      padding: 0;
      .toggle {
        padding: 0 .5rem;
      }
    }
    .user {
      padding: 0 .5rem;
      flex: 0 0 auto;
    }
  }

  .change-language {
    line-height: 2.8rem;
    font-size: 1rem;
  }
}