@import url(../../common/style);

.main {
  background: #f8f8f5;
  .auth-warp {
    border-radius: 2px;
    padding: 40px 0;
    margin: 0 auto;
    width: 500px;
    .container {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
      background-color: #fff;
      position: relative;
      overflow: hidden;
      height: 575px;
      [class*='-page'] {
        transition: all .7s ease;
        box-sizing: border-box;
        background-color: #fff;
        flex-direction: column;
        position: absolute;
        flex: 0 0 100%;
        display: flex;
        padding: 50px;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        &.center {
          transform: translateX(0);
        }
        &.right {
          transform: translateX(100%);
        }
        &.left {
          transform: translateX(-100%);
        }
        .title-bar {
          align-items: center;
          flex: 0 0 25px;
          display: flex;
          .back {
            margin-right: 50px;
            cursor: pointer;
            flex: 0 0 24px;
            height: 100%;
            .icon-back {
              background-image: url(../../common/images/auth/back-icon.png);
              background-repeat: no-repeat;
              background-size: 100% auto;
              background-position: 0 50%;
              display: inline-block;
              height: 100%;
              width: 100%;
            }
          }
          .page-title {
            font-weight: 600;
            font-size: 28px;
            color: #ffb224;
          }
        }
        .phone-controller {
          margin-top: 46px;
          flex: 1 1 auto;
          .country-code {
            position: relative;
            height: 100%;
            .arrow-icon {
              background-image: url(../../common/images/auth/arrow-icon.png);
              background-repeat: no-repeat;
              background-position: 0 50%;
              background-size: 100% auto;
              transform: translateY(-50%);
              position: absolute;
              height: 100%;
              width: 10px;
              right: 5px;
              top: 50%;
            }
            .country-select {
              border: none;
              border-bottom: 1px solid #cccccc;
              background-color: transparent;
              box-shadow: none;
              border-radius: 0;
              font-size: 20px;
              color: #33180a;
              height: 100%;
              width: 100%;
            }
          }
          .phone-num {
            display: flex;
            height: 100%;
            width: 100%;
            .dis-code {
              border-bottom: 1px solid #0092ff;
              font-size: 22px;
              color: #33180a;
              flex: 0 0 18%;
              margin-right: 22px;
            }
            .phone {
              border-bottom: 1px solid #0092ff;
              flex: 1 1 auto;
            }
          }
          input {
            box-shadow: none;
            font-size: 22px;
            color: #33180a;
            border: none;
            height: 100%;
            padding: 0;
            margin: 0;
          }
        }
        .verify-controller {
          padding-right: 50px;
          padding-left: 75px;
          flex: 1 1 auto;
          .verify-tip {
            margin-top: 30px;
            display: flex;
            height: 70px;
            .verify-phone {
              flex: 0 0 50px;
              height: 100%;
              .icon-verify-phone {
                background-image: url(../../common/images/auth/verify-phone.png);
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-position: 0 50%;
                display: inline-block;
                height: 100%;
                width: 100%;
              }
            }
            .verify-info {
              justify-content: center;
              flex-direction: column;
              box-sizing: border-box;
              flex: 1 1 auto;
              display: flex;
              .tip {
                align-items: center;
                font-size: 18px;
                color: #816e67;
                flex: 1 1 auto;
                display: flex;
              }
              .phone-number {
                align-items: center;
                font-size: 22px;
                color: #ffb224;
                flex: 1 1 auto;
                display: flex;
              }
            }
          }
          .verify-code {
            margin-top: 30px;
            .code {
              border: none;
              border-bottom: 1px solid;
              box-sizing: border-box;
              letter-spacing: 50px;
              text-align: center;
              padding: 10px 25px;
              font-size: 30px;
              color: #0092ff;
              height: 100%;
              width: 100%;
            }
          }
          .controller-action {
            margin-top: 50px;
            .btn {
              width: 100%;
            }
          }
          .resend-code {
            text-align: center;
            margin-top: 20px;
            font-size: 18px;
            color: #816e67;
            .btn {
              cursor: pointer;
            }
          }
        }
        .controller-action {
          text-align: center;
          .btn {
            background-color: #ffb224;
            transition: all .5s ease;
            border-radius: 3px;
            line-height: 50px;
            font-weight: 600;
            font-size: 20px;
            cursor: pointer;
            border: none;
            color: #fff;
            width: 66%;
            &:active {
              box-shadow: 0 2px 20px 1px #ffca47;
              background-color: #ffa733;
            }
          }
        }
        .statement {
          text-align: center;
          line-height: 28px;
          font-size: 18px;
          flex: 0 0 auto;
          color: #b2a7a1;
          .terms {
            color: #ffb224;
          }
        }
        /* TODO */
        .form {
          flex-direction: column;
          display: flex;
        }
        .form-controller {
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          flex: 0 0 55px;
          display: flex;
          .form-icon {
            margin-right: 25px;
            flex: 0 0 20px;
          }
          .form-item {
            flex: 1 1 auto;
            height: 30px;
          }
          .form-action {
            text-align: center;
            padding-top: 30px;
          }
        }
      }
    }
  }
}
